<ion-content [fullscreen]="true" class="ion-padding">
  <div class="padding-top-save-header">
    <div class="bg-white d-flex justify-content-between align-items-center">
      <h2 class="fw-bolder">INICIO DE SESIÓN</h2>
      <ion-buttons>
        <ion-button>
          <a href="/home">
            <ion-icon color="primary" class="fs-4" name="close"></ion-icon>
          </a>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="centro">
      <ion-img src="../../../assets/images/kellys/kellys2.jpeg"></ion-img>
      <div id="caja-logo">
        <ion-img src="../../../assets/images/logoKellysApp_black.png"></ion-img>
      </div>
    </div>
    <h1>Reserva con las Kellys en Hoteles justos</h1>

    <a [routerLink]="['/registro']" routerLinkActive="router-link-active">
      <button class="custom-buttom bg-secondary">Registrarse</button>
    </a>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">
      <button class="custom-buttom">Login</button>
    </a>
  </div>
</ion-content>
