<ion-content [fullscreen]="true" class="ion-padding">
  <div class="padding-top-save-header">
    <div class="alert alert-info" *ngIf="!cargado; else divHotel">
      <p>Espere...</p>
    </div>
    <ng-template #divHotel>
      <ng-container *ngFor="let imagen of imagenes; let i = index">
        <img [src]="imagenes[i]" alt="" />
      </ng-container>
      <p>Nombre: {{ hotel.nombre }}</p>
      <p>descripción: {{ hotel.descripcion }}</p>
      <p>dirección: {{ hotel.direccion }}</p>
      <p>Puntuación reseñas : {{ hotel.puntuacion_resenas }}</p>
      <p>Estrellas : {{ hotel.estrellas }}</p>
      <p>Ciudad: {{ hotel.ciudad }}</p>
      <p>Servicios: {{ hotel.servicios }}</p>
    </ng-template>
  </div>
</ion-content>
