<ion-content [fullscreen]="true" class="ion-padding">
  <div class="padding-top-save-header">
    <div class="alert alert-info" *ngIf="!existe; else divPersona">
      <p>Espere por favor...</p>
    </div>
    <ng-template #divPersona>
      <p>NIF</p>
      <p>{{ persona.nif }}</p>
      <p>NOMBRE</p>
      <p>{{ persona.nombre }}</p>
      <p>PRIMER APELLIDO</p>
      <p>{{ persona.apellido1 }}</p>
      <p>SEGUNDO APELLIDO</p>
      <p>{{ persona.apellido2 }}</p>
      <p>EMAIL</p>
      <p>{{ persona.email }}</p>
      <button>CAMBIAR EMAIL</button>
      <ion-button (click)="logout()" expand="block" fill="clear" shape="round">
        CERRAR SESIÓN
      </ion-button>
      <button>CAMBIAR CONTRASEÑA</button>
    </ng-template>
  </div>
</ion-content>
