
<ion-content class="padding-top-save-header ion-padding">
  <div class="row pt-5">
    <div class="col-sm-8 col-lg-6 mx-auto">
  <ion-card class="pt-1" *ngIf="resultado">
    
    <ion-card-header>
      {{resultado.nombreHotel}}
    </ion-card-header>
    <ion-card-content>
      <p class="fw-bold">Fechas:</p>
      <p> Del {{resultado.fechaCheckin | date:'dd/MM/yyyy'}} al 
       {{resultado.fechaCheckout | date:'dd/MM/yyyy'}} </p>
      <p class="fw-bold">Viajeros</p>
      <p>{{resultado.numPlazas}}</p>
      <p>Cama {{resultado.tipoCama}}</p>
      <p class="fw-bold">Precio:</p>
      <p>${{resultado.precioTotal}}</p>
    </ion-card-content>
  <ion-button (click)="confirmarReserva()" class="custom-buttom">Confirmar</ion-button>
  </ion-card>
</div></div>
</ion-content>

