*{
    font-weight: 700;
}
ion-button{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    padding-top:0.6em
}

/* Estilos personalizados para el formulario */
form {
    margin-bottom: 2em;
  }
  
  form div {
    margin-bottom: 1.2em;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 6em;
  }
  
  button[type="submit"],
  button[type="button"] {
    margin-top: 0.8em;
    padding: 0.6em 2em;
    color: #fff;
    border: none;
  }
  
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }  
 
  [color="alert"]{
    background-color: #E71D73;
    color:white
  }

  .blanco{
    color: white;
    text-align: center;
  }
  