<div class="row">
  <div class="col-sm-8 col-lg-6 mx-auto">
    <form (ngSubmit)="buscar(this.hotel)">
      <!-- Muestra el input hotel si está en la ruta buscar/id o muestra el input ciudad si no lo está -->
      <ion-item *ngIf="!hotel; else inputHotel">
        <ion-icon
          name="location-outline"
          color="primary"
          slot="start"
        ></ion-icon>
        <ion-input
          label="Destino"
          labelPlacement="stacked"
          type="text"
          name="ciudad"
          [(ngModel)]="parametrosBusqueda.ciudad"
          required
        ></ion-input>
      </ion-item>
      <p *ngIf="errores.ciudad && !hotel" class="mensaje-error">
        {{ errores.ciudad }}
      </p>

      <ng-template #inputHotel>
        <ion-item>
          <ion-icon
            name="business-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-input
            label="Hotel"
            type="text"
            labelPlacement="stacked"
            name="hotel"
            [value]="nombreHotel"
            readonly
          ></ion-input>
        </ion-item>
      </ng-template>

      <ion-item>
        <ion-icon
          name="calendar-outline"
          color="primary"
          slot="start"
        ></ion-icon>
        <ion-input
          label="Entrada"
          labelPlacement="stacked"
          type="date"
          name="checkIn"
          [(ngModel)]="parametrosBusqueda.checkIn"
          required
        ></ion-input>

        <ion-input
          label="Salida"
          labelPlacement="stacked"
          type="date"
          name="checkOut"
          [(ngModel)]="parametrosBusqueda.checkOut"
          required
        ></ion-input>
      </ion-item>
      <p *ngIf="errores.checkIn" class="mensaje-error">{{ errores.checkIn }}</p>
      <p *ngIf="errores.checkOut" class="mensaje-error">
        {{ errores.checkOut }}
      </p>

      <ion-item>
        <ion-icon name="bed-outline" slot="start" color="primary"></ion-icon>
        <ion-input
          label="Viajeros"
          type="number"
          labelPlacement="stacked"
          name="viajeros"
          [(ngModel)]="parametrosBusqueda.viajeros"
          max="9"
          min="1"
          required
        ></ion-input>
        <p *ngIf="errores.viajeros" class="mensaje-error">
          {{ errores.viajeros }}
        </p>
      </ion-item>

      <ion-button
        shape="square"
        block
        color="primary"
        expand="block"
        type="submit"
        >Buscar</ion-button
      >
    </form>
  </div>
</div>
