<ion-content [fullscreen]="true" class="ion-padding">
  <div class="padding-top-save-header">
    <div *ngIf="!cargadas; else mostrarReservas">
      <p class="bg-info">cargando, espere...</p>
    </div>
    <ng-template #mostrarReservas>
      <div class="row pt-5 m-4">
        <ng-container *ngFor="let reserva of reservas">
          <div class="col-12 col-md-6 col-lg-4 mt-2">
            <ion-card>
              <a [routerLink]="reserva._id" routerLinkActive="router-link-active">
                <ion-card-header>
                  <h3 class="text-primary">{{reserva.hotel}}</h3>
                </ion-card-header>
                <ion-card-content>
                  <p class="fw-bold">fecha checkIn</p>
                  <p>{{reserva.fechaCheckin | date:'dd/MM/YY'}}</p>
                  <p class="fw-bold">fecha checkOut</p>
                  <p>{{reserva.fechaCheckout | date:'dd/MM/YY'}}</p>
                  <p class="fw-bold">Id</p>
                  <p>{{reserva._id}}</p>
                  <p class="fw-bold">Estado</p>
                  <p *ngIf="reserva.aceptada; else noAceptada">Confirmada por el hotel</p>
                  <ng-template #noAceptada>
                    <p>Pendiente de confirmar por el hotel</p>
                  </ng-template>
                </ion-card-content>
              </a>
            </ion-card>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </div>
</ion-content>
