<ion-content class="ion-padding has-header has-subheader pormiscojones" padding-top>
  <div class="padding-top-save-header">
  <swiper-container [slidesPerView]="1" [loop]="true" [zoom]="true">
    <swiper-slide>
      <ion-img src='../../../assets/images/sevilla/2400-landscape-view-of-plaza-de-espana.jpg'></ion-img>
      <p class="etiqueta-imagen">Sevilla</p>
    </swiper-slide>
    <swiper-slide>
      <ion-img src='../../../assets/images/sevilla/2400-real-alcazar-de-sevilla-baths.jpg'></ion-img>
      <p class="etiqueta-imagen">Sevilla</p>
    </swiper-slide>
    <swiper-slide>
      <ion-img src='../../../assets/images/sevilla/callebetis.jpg'></ion-img>
      <p class="etiqueta-imagen">Sevilla</p>
    </swiper-slide>
    <swiper-slide>
      <ion-img src='../../../assets/images/sevilla/santacruz.jpg'></ion-img>
      <p class="etiqueta-imagen">Sevilla</p>
    </swiper-slide>
    <swiper-slide>
      <ion-img src='../../../assets/images/sevilla/catedral.jpg'></ion-img>
      <p class="etiqueta-imagen">Sevilla</p>
    </swiper-slide>
  </swiper-container>
    
  </div>


  <app-buscar></app-buscar>

  <app-resultado-busqueda></app-resultado-busqueda>
  
  <div class="hotel-list-container" #divEticos>
    <h3>Hoteles Éticos</h3>
    
    <ng-container *ngFor="let hotel of hoteles | slice: 0:3; let i = index">
 <a 
        [routerLink]="['/hotel', hotel._id]"
        routerLinkActive="router-link-active"
        >
      <ion-card>
        <swiper-container>
          <swiper-slide *ngFor="let img of hotel.imagenes" [loop]="true">
            <ion-img [alt]=hotel.nombre [src]=img />
          </swiper-slide>
        </swiper-container>
        <ion-card-header>
          <ion-card-title>
            <div class="d-inline" *ngFor="let estrella of getEstrellas(hotel.estrellas)">
              <ion-icon name="star" color="warning"></ion-icon>
            </div>
            <div class="bg-secondary ion-float-end blanco p-1 pico" >
              {{ hotel.puntuacion_resenas }}
            </div>
          </ion-card-title>
          <ion-card-subtitle>
            {{ hotel.nombre }}
            

          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content class="italica">
          {{ hotel.ciudad }}
        </ion-card-content>
        
       
      </ion-card>
      </a
      >
    </ng-container>
  </div>
</ion-content>
