/** CREAR LAS VARIABLES PROPIAS Y LAS VARIABLES DE BOOTSTRAP A SOBREESCRIBIR **/

$primary: #e71d75;
$secondary: #1ABE21;
$letra_titulos:#5d5b53;
$texto: #858585;
$blanco: #fff;
$danger:#eb445a;




/** IMPORTAR BOOTSTRAP **/
@import '../node_modules/bootstrap/scss/bootstrap.scss';

/** PERSONALIZAR ESTILOS **/


/** QUITAR PADDING LATERALES **/
.ion-padding{
  --padding-start: 0!important;
  --padding-end: 0!important;
}

/* FUENTE Acumin Variable Concept */
@font-face {
    font-family: "Acumin Variable Concept";
    src: url("./assets/fonts/Acumin\ Variable\ Concept.ttf");
  }
  * {
    font-family: "Acumin Variable Concept"!important;
    color:$texto;
  }


  /* TITULOS */
  h1,h3,h4,h5 {
    color: $letra_titulos;
  }
  h2{
      color: $primary;
  }
  h1 {
      font-size: 28px;
      font-weight: 800;
  }
  h2,h3{
      font-size: 20px;
      font-weight: 600;
  }
  h4,h5{
      font-size: 16px;
  }
  h5{
      font-weight: 400;
  }
  p{
      font-size: 16px;
      color: $texto
  }
  
  /** MÁRGENES **/
  h1,h2,h3,h4,h5,p, a{
    margin-left: 6vw;
    margin-right: 6vw;
  }
  h1,h2,h3,h4,h5{
    padding-top: 1em;
  }
  /* COLORES */
  .blanco{
    color: $blanco;
  }
  :root {
    --ion-color-primary: #e71d75;
    --ion-color-primary-rgb: 231,29,117;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #cb1a67;
    --ion-color-primary-tint: #e93483;
  
    --ion-color-secondary: #1ABE21;
    --ion-color-secondary-rgb: 30,232,38;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #1acc21;
    --ion-color-secondary-tint: #35ea3c;
  
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82,96,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
  
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45,211,111;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
  
    --ion-color-warning: #FEDC29;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
  
    --ion-color-medium: #5d5b53;
    --ion-color-medium-rgb: 93,91,83;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #525049;
    --ion-color-medium-tint: #6d6b64;
  
    --ion-color-light: #858585;
    --ion-color-light-rgb: 133,133,133;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #757575;
    --ion-color-light-tint: #919191;
  


  }
  
  /* TEXTO SOBRE IMÁGENES */
  .etiqueta-imagen {
    position: absolute;
    top: 83%;
    left: 6%;
    right: 0;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 0.1em 0.6em 0em;
    border-radius: 8px;
    max-width: fit-content;
  }

  /* QUE NO SE SOLAPE EL HEADER SOBRE EL CONTENT*/
  .padding-top-save-header{
    padding-top:6.5vh!important;
  }  

  /* MÁXIMA ALTURA DE IMÁGENES */
  swiper-slide ion-img {
    width: auto;
    max-width: 100%;
    height: 36vh;
    object-fit: cover;
    object-position: center;
  }
  
  /** TARJETAS, PUNTUACIÓN */
  .pico {
    width: 40px;
    height: 30px;
    background-color: #f0f0f0;
    position: relative;
    border-radius: 6px;
    text-align: center;
  }
  
  .pico::before {
    content: "";
    position: absolute;
    top:10px;
    left: -1px;
    z-index: -2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #1EE826 transparent transparent;
  }

  /** FORMULARIOS */
  .formulario{
    text-align: center;
    input{
      width: 60%;
      background-color: $light;
      box-shadow: 2px 2px 5px $letra_titulos;
      padding: 0.7em;
      margin:0.6em 0em;
      border-radius: 10px;
      border:none
    }
    .mensaje-alerta{
      background-color: $warning;
      color:$letra_titulos;
    }
    .mensaje-error{
      background-color: $danger;
      color: white;
    }
    .mensaje-info{
      color: $primary;
      font-style: italic;
    }
    .mensaje-alerta, .mensaje-error{
      border-radius: 10px;
      font-size: smaller;
      font-weight: 600;
      padding: 1em;
      width: 80%;
      margin: auto;
      }
    .mensaje-alerta,.mensaje-error,.mensaje-info{
      font-style: italic;
      transform: scale(0.7); // más pequeña aún la letra
    }
    h1{
      color: $primary;
    }
    .custom-buttom{
      width: 60%;
      padding: 1em 0em;
      background-color: $secondary;
    }
  }


  /** OTROS ESTILOS */
  a{
    text-decoration: none;
  }

  .italica{
    font-style: italic;
  }

  .custom-buttom{
      color:white;
      font-weight: 800;
      font-size: 21px;
      background-color: $primary;
      border-radius: 16px;
      margin: 2em;
  }

  .centro{
    text-align: center;
  }


  .verdigrande{
    font-size:large;
    color: $secondary;
    margin-bottom: 0;
  }