<ion-content [fullscreen]="true" class="ion-padding">
  <div class="padding-top-save-header">
    <div class="bg-white d-flex justify-content-between align-items-center m-3">
      <h2 class="fw-bolder">POR QUÉ KELLYS APP</h2>
      <ion-buttons>
        <ion-button>
          <a href="/home">
            <ion-icon color="primary" class="fs-4" name="close"></ion-icon>
          </a>
        </ion-button>
      </ion-buttons>
    </div>

    <ion-img src="../../../assets/images/kellys/kellys.jpeg"></ion-img>

    <h2>¡Bienvenid@ a KellysApp! ¿Por qué reservar con las Kellys?</h2>
    <div class="m-auto pt-4 w-75 pb-3">
      <p class="fsize text-justify">En KellysApp entendemos que cada vez más personas están buscando opciones de viaje que no solo les brinden comodidad y calidad, sino que también sean socialmente responsables. Nuestra aplicación se ha desarrollado con el objetivo de promover la reserva en hoteles que se preocupan por sus trabajadores y ofrecen condiciones laborales justas.</p>
      <p class="fsize text-justify">Aquí te presentamos algunas razones clave por las que reservar con las Kellys a través de nuestra aplicación es una elección necesaria y significativa:</p>
      <p class="fsize p-3 text-justify"><span>1. Apoyo a las trabajadoras:</span> Al reservar con KellysApp, estás respaldando directamente a las Kellys, un colectivo de trabajadoras de limpieza de hoteles que luchan por mejores condiciones laborales. Estas mujeres desempeñan un papel fundamental en la industria hotelera, pero a menudo enfrentan jornadas extenuantes, salarios bajos y falta de derechos laborales. Al elegir nuestros hoteles justos, estás contribuyendo a mejorar sus vidas y fomentar un entorno de trabajo más justo y equitativo.</p>
      <p class="fsize p-3 text-justify"><span>2. Garantía de hoteles justos:</span> Nuestra aplicación cuenta con un riguroso sistema de certificación que verifica y asegura que los hoteles asociados cumplan con los estándares laborales responsables. Estos estándares abarcan aspectos como relaciones laborales sólidas, empleo estable, condiciones de salud y seguridad, formación y desarrollo profesional, igualdad de oportunidades y más. Al reservar a través de KellysApp, tienes la tranquilidad de saber que te hospedarás en un hotel que valora y respeta a su personal.</p>
      <p class="fsize p-3 text-justify"><span>3. Turismo socialmente responsable:</span> Al utilizar KellysApp, te unes a un movimiento creciente de turismo socialmente responsable. El sector turístico tiene un impacto significativo en las comunidades locales y en el bienestar de las personas empleadas. Al elegir hoteles justos, estás apoyando un enfoque de turismo más ético y sostenible, que busca generar un impacto positivo tanto en las personas como en el entorno en el que se encuentra el hotel.</p>
      <p class="fsize p-3 text-justify"><span>4. Comunidad comprometida:</span> Al unirte a KellysApp, te unes a una comunidad de viajeros comprometidos con la causa de los trabajadores hoteleros y el turismo sostenible. Puedes participar en conversaciones, compartir experiencias y obtener recomendaciones de otros usuarios que comparten tus valores. Además, a través de la aplicación, puedes estar al tanto de las últimas noticias y eventos relacionados con el Proyecto Hoteles Justos y las Kellys.</p>
      <p class="fsize text-justify">Reservar con las Kellys a través de KellysApp es una forma tangible y significativa de marcar la diferencia en la industria hotelera. No solo disfrutarás de una estancia cómoda y placentera, sino que también contribuirás a un cambio positivo en la vida de los trabajadores y al desarrollo de un turismo más justo y responsable.</p>
    </div>
  </div>
</ion-content>
